@page
<div class="input-container-drop" id="input-drop">
    <div class="row align-items-center">
        <div class="col-4">
            
        </div>
        <div class="col-4 text-center">
            <div>
                Fazer Upload de arquivo.
            </div>
            <span style="font-size:48px; color: Dodgerblue;">
                <i class="fas fa-upload"></i>
            </span>
        </div>
    </div>
</div>

