@page "{id:int}"
@model AddPwdModel
@{
    ViewData["Title"] = "Edição";
}

<h1>Edição de Password</h1>
<form method="post">
    <div>
         <div class="form-group">
        <input class="form-control col-4" asp-for="Password.Id" type="hidden" />
        <label asp-for="Password.Nome"></label>
        <div>
            <input class="form-control col-4" asp-for="Password.Nome" />
            <span asp-validation-for="Password.Nome" ></span>
        </div>
        </div>
          <div class="form-group">
        <div>
            <label asp-for="Password.Pwd">Password</label>
            <input class="form-control col-4" asp-for="Password.Pwd" />
                <span asp-validation-for="Password.Pwd" ></span>
        </div>
        </div>
    </div>
   
        <button class="btn btn-primary" type="submit">Save</button>
 
</form>